@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

@model IdentityUpdateDto
<form method="post" class="col-lg-6">
    <div class="card">
        <div class="card-header"><strong>Şifremi Güncelle</strong></div>
        <div class="card-body card-block">
            

            <div class="form-group">
                <label for="nf-password" class="form-control-label">Eski Şifreniz</label><input type="password"
                                                                                           id="nf-password"
                                                                                           asp-for="OldPassword"
                                                                                           placeholder="Eski şifrenizi giriniz"
                                                                                           class="form-control" /><span asp-validation-for="OldPassword" class="">Please enter your password</span>
            </div>
            <div class="form-group">
                <label for="nf-password" class="form-control-label">Yeni Şifreniz</label><input type="password"
                                                                                           id="nf-password"
                                                                                           asp-for="Password"
                                                                                           placeholder="Yeni şifrenizi giriniz"
                                                                                                class="form-control" /><span asp-validation-for="Password" class="help-block">Please enter your password</span>
            </div>
        </div>
       
            <button type="submit" class="btn btn-success ">
                <i class="fa fa-dot-circle-o"></i> Gönder
            </button>
            
    </div>
</form>
